[alias]
    	lg = !"git lg-specific --all"
    	lg-specific = log --graph --abbrev-commit --decorate
[push]
	default = simple
[pull]
	rebase = true
[commit]
	gpgsign = false
[gpg]
	program = gpg2
[log]
	date = relative
	showSignature = true
[format]
	pretty = %Cred%h %Creset %C(yellow)%>(14)%cr %Cgreen%G? %GK%Cred%d %Creset%s %Cblue%an
[receive]
	denyCurrentBranch = updateInstead
